# Exercici 1

Agafa el conjunt de dades que vulguis i realitza un pipeline i un gridsearch aplicant l'algorisme de Random Forest.

Get the dataset you want and perform a pipeline and gridsearch applying the algorithm Random Forest.

In [5]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [2]:
df = pd.read_csv("Crop_recommendation.csv")
#source: https://www.kaggle.com/datasets/78c7595cbf5a98a8cc488e5b9f6911f216680e5a221e6704ba7be4d7ef42c753

This dataset gathers data about agricultural parameters, such as soil concentrations of nitrogen (N), phosphorous (P), and potassium (K), soil temperature in Celsius degrees, pH, where less than 7 is considered as acidic, more than 7 is considered basic, and at 7 it is considered as neutral, humidity, rainfall, and type of crop(label). The different types of crop are rice, maize, chickpeas, kidney beans, pigeon peas, moth beans, mung beans, blackgram, lentils, pomegranate, banana, mango, grapes, watermelon, muskmelon, apple, orange, papaya, coconut, cotton, jute, and coffee.

In [3]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
df.isna().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

There are no NaN values that we have to take care of. We will perform a Random Forest classifier to predict the type of crop, that is, to predict label.

In [6]:
#splitting into test and train

X = df.drop(["label"], axis = 1)
y = df.label

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [7]:
#creating the pipeline
pipe = Pipeline([("scaler", MinMaxScaler()), ("rf", RandomForestClassifier(random_state = 42))])

In [ ]:
#declaring parameters for gridsearch
space = dict()
space["rf__criterion"] = ["gini", "entropy", "log_loss"]
space["rf__max_depth"] = [5 ,10, 20, 30, None]
space["rf__max_features"] = ["sqrt", "log2"]
space["rf__min_samples_split"] = [2, 5, 10]
space["rf__n_estimators"] = [10, 50, 100, 200, 400, 600]
space["rf__min_samples_leaf"] = [1, 2, 4]


#gridsearch for best roc auc 
search = GridSearchCV(pipe, space, scoring = "accuracy", cv = 5)

result = search.fit(X_train, y_train)

print("Best Hyperparameters: ", result.best_params_)